Repository python-wheel-build/fromager, pull requests merged in 2025-06, with the labels that each got.

#615 ✨ feat: add `--skip-constraints` option to bootstrap command
  .github/workflows/test.yaml
  .mergify.yml
  docs/example/skip-constraints-example.md
  docs/files.md
  docs/getting-started.rst
  docs/how-to.md
  docs/using.md
  e2e/test_bootstrap_skip_constraints.sh
  src/fromager/commands/bootstrap.py
  tests/test_bootstrap.py
Labels: ci, mergify

#623 Detect requirement conflict
  .github/workflows/test.yaml
  .mergify.yml
  e2e/graph-with-dependency-conflict.json
  e2e/test_graph_to_constraints.sh
  pyproject.toml
  src/fromager/commands/bootstrap.py
  src/fromager/commands/graph.py
Labels: ci, mergify

#625 set up CODEOWNERS
  .mergify.yml
  CODEOWNERS
Labels: mergify

#626 Use hatchling instead of setuptools
  pyproject.toml
  requirements-build.txt
  requirements-mypy.txt
  requirements-test.txt
  requirements.txt
  tests/test_dependencies.py
  tox.ini
Labels: ci, mergify

#628 Fix: Pass config settings to hooks
  e2e/matplotlib_settings/cython.yaml
  e2e/matplotlib_settings/matplotlib.yaml
  e2e/matplotlib_settings/meson-python.yaml
  e2e/matplotlib_settings/meson.yaml
  e2e/matplotlib_settings/numpy.yaml
  e2e/test_bootstrap_sdist_only.sh
  src/fromager/dependencies.py
  src/fromager/packagesettings.py
  src/fromager/sources.py
  src/fromager/wheels.py
  tests/test_packagesettings.py
  tests/testdata/context/overrides/settings/test_pkg.yaml
Labels: ci

#627 Start using hatch instead of tox
  .github/workflows/check.yaml
  .github/workflows/test.yaml
  .gitignore
  .mergify.yml
  docs/develop.md
  e2e/common.sh
  e2e/pyo3_test/MANIFEST.in
  e2e/setup_coverage.py
  pyproject.toml
  tox.ini
Labels: ci, mergify

#629 Hatch cleanup
  .github/workflows/check.yaml
  .github/workflows/test.yaml
  pyproject.toml
  tests/test_dependencies.py
Labels: ci

#631 add stats command
  src/fromager/commands/__init__.py
  src/fromager/commands/stats.py
  src/fromager/constraints.py
  tests/test_stats_command.py
Labels: ci

#633 Fix Git URL handling for bootstrap from URL requirements
  e2e/test_bootstrap_git_url.sh
  e2e/test_bootstrap_git_url_tag.sh
  src/fromager/bootstrapper.py
  src/fromager/commands/bootstrap.py
  src/fromager/sources.py
Labels: ci

#639 Fix git submodules support
  .mergify.yml
  tests/test_bootstrap.py
  tests/test_packagesettings.py
  tests/test_sources.py
Labels: ci, mergify
